body {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: black;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
 
  .button_block {
    display: flex;
  }